.app-body {
	margin-top: 20px;
}

.nav-styles {
	background-color: #1a1b22;
}

.nav-styles a {
	color: white;
}

.nav-styles a:hover {
	color: #66ccff;
}

.nav-link.active {
	color: #e64758 !important;
}

.dropdown-menu a {
	color: #1a1b22;
}

.dropdown-menu a:hover {
	color: #66ccff;
}

.btn-primary:hover {
	color: #66ccff;
}